<div class="card text-center">
  <div class="card-header h4">
    Chào mừng đến với trang quản trị viên
  </div>
  <div class="card-body  p-0">
    <img src="{{baseUrl}}/static/imgs/ecNewsPaper_logo.png" class="card-img-top vh-100" alt="..." >
  </div>
  <div class="card-footer text-muted">
    © ecNewsPaper
  </div>
</div>

